button,
.button {
  display: inline-block;
  background-color: var(--c-white);
  border: var(--s-border-width) solid var(--c-grey-dark);
  border-radius: var(--s-border-radius);
  box-shadow: var(--s-box-shadow) var(--c-grey-dark);
  color: var(--c-grey-dark);
  padding: 8px 16px;
  margin: 0 4px 8px 0;
  font-weight: 600;
  min-width: 145px;
  text-align: center;
  text-decoration: none;
  outline: none;
  cursor: pointer;

  transition: box-shadow 0.1s ease, transform 0.1s ease,
    background-color 0.1s ease;

  &:not(:disabled):not(.button--disabled) {
    &:hover,
    &:focus {
      color: var(--c-grey-dark);
      box-shadow: var(--s-box-shadow-hover) var(--c-grey-dark);
      transform: var(--s-transform-hover);
    }

    &:active {
      transform: var(--s-transform-click);
      box-shadow: var(--s-box-shadow-click) var(--c-grey-dark);
    }
  }

  &:disabled,
  &.button--disabled {
    color: var(--c-placeholder);
    background-color: var(--c-background-disabled);
    border-color: var(--c-border);
    box-shadow: var(--s-box-shadow-click) var(--c-border);
    text-shadow: 1px 1px 3px var(--c-white);
    text-decoration: none;
    cursor: not-allowed;
  }

  &[type="submit"]:not(:disabled) {
    color: var(--c-black);
    background-color: var(--c-success-background);
    border-color: var(--c-success);
  }

  &[type="reset"]:not(:disabled) {
    color: var(--c-black);
    background-color: var(--c-danger-background);
    border-color: var(--c-danger);
  }
}

[data-mode="dark"] {
  button,
  .button {
    color: var(--c-smoke);
    background-color: var(--c-grey-dark);
    border-color: var(--s-border-width) solid var(--c-smoke);
    box-shadow: var(--s-box-shadow) var(--c-white);

    &:not(:disabled):not(.button--disabled) {
      &:hover,
      &:focus {
        color: var(--c-smoke);
        box-shadow: var(--s-box-shadow-hover) 0 var(--c-white);
      }

      &:active {
        box-shadow: var(--s-box-shadow-click) var(--c-grey);
      }
    }

    &:disabled,
    &.button--disabled {
      color: var(--c-placeholder);
      background-color: var(--c-grey);
      border-color: var(--c-smoke);
      box-shadow: var(--s-box-shadow-click) var(--c-grey-light);
      text-shadow: none;
    }

    &[type="submit"]:not(:disabled),
    &[type="reset"]:not(:disabled) {
      &:hover,
      &:focus,
      &:active {
        color: var(--c-black);
      }
    }
  }
}
