.has-tooltip {
  position: relative;
  cursor: inherit;

  &:hover {
    &::before,
    &::after {
      opacity: 1 !important;
    }
  }

  &::before,
  &::after {
    cursor: default;
    position: absolute;
    transition: opacity 0.15s ease-in-out;
    pointer-events: none;
  }

  &::before {
    opacity: 0;
    content: "";
    top: calc(var(--s-space-2) * -1);
    left: 50%;
    transform: translateX(-50%);
    border-width: var(--s-space-2) var(--s-space-2) 0 var(--s-space-2);
    border-style: solid;
    border-color: var(--c-grey-dark) transparent transparent transparent;
    z-index: 200;
  }

  &::after {
    opacity: 0;
    content: attr(data-tooltip);
    top: calc(var(--s-space-2) * -1);
    left: 50%;
    background-color: var(--c-smoke);
    text-align: center;
    color: var(--c-grey-dark);
    padding: var(--s-space-2) var(--s-space-4);
    width: max-content;
    min-width: 120px;
    max-width: 240px;
    border: var(--s-border-width-thick) solid var(--c-grey-dark);
    border-radius: var(--s-border-radius);
    transform: translateX(-50%) translateY(-100%);
    z-index: 300;
  }

  &--right {
    &::before {
      top: 50%;
      left: 100%;
      transform: translateY(-50%) rotate(90deg);
    }

    &::after {
      top: 50%;
      left: 100%;
      margin-left: var(--s-space-3);
      transform: translateX(0%) translateY(-50%);
    }
  }

  &--bottom {
    &::before {
      top: 100%;
      margin-top: var(--s-space-2);
      transform: translateX(-50%) translateY(-100%) rotate(-180deg);
    }

    &::after {
      top: 100%;
      margin-top: var(--s-space-2);
      transform: translateX(-50%) translateY(0%);
    }
  }

  &--left {
    &::before {
      top: 50%;
      left: 0%;
      margin-left: calc(var(--s-space-4) * -1);
      transform: translateY(-50%) rotate(-90deg);
    }

    &::after {
      top: 50%;
      left: 0%;
      margin-left: calc(var(--s-space-3) * -1);
      transform: translateX(-100%) translateY(-50%);
    }
  }
}

[data-mode="dark"] .has-tooltip {
  &::before {
    border-color: var(--c-smoke) transparent transparent transparent;
  }

  &::after {
    background-color: var(--c-grey-dark);
    border-color: var(--c-smoke);
    color: var(--c-smoke);
  }
}
