html,
body {
  width: 100vw;
  margin: 0;
  padding: 0;
}

.container {
  display: block;
  margin: 0 auto;
  padding: 16px 24px;
}

.title {
  margin-bottom: 8px;

  + .subtitle {
    margin-top: 0;
  }
}

article {
  padding: 8px 0;

  + article {
    border-top: var(--s-border-width) solid var(--c-border);
  }
}

section {
  padding: 8px 0;

  + section {
    border-top: var(--s-border-width-thin) solid var(--c-border);
  }
}

.is {
  &-pulled {
    &-right {
      float: right;
    }
  }

  &-hidden {
    display: none;
  }
}

[data-mode='dark'] {
  article + article,
  section + section {
    border-top-color: var(--c-grey);
  }
}

// Github Badge
.github-badge {
  transition: background-color 0.15s ease;

  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.25);
  background-color: #333;
  position: sticky;
  top: 0;
  z-index: 10;

  &:hover {
    background-color: greenyellow;

    > a {
      color: #333 !important;
      text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff,
        -1px 1px #fff;

      &::before {
        content: unset;
      }

      img {
        filter: brightness(120%);
      }
    }
  }

  > a {
    transition: color 0.15s ease;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    color: #fff !important;
    padding: 8px 16px !important;
    border: 0 !important;
    text-decoration: none;

    img {
      width: 24px;
      height: 24px;
    }
  }
}
